body{
    background-image: url(images/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#card{
    width: 16rem;
    float:left; 
    border-radius:1.5em;
    border: 1px solid cornflowerblue;
    box-shadow: 2px 2px 2px 2px;
    margin: 10.7px;
}
#pokemon-search{
    text-shadow: 0 0 5px #b3eafe, 0 0 5px #b3eafe;
    color: #b3eafe;
    visibility: visible;
    font-size: 100%;
}
#pokemon_type2{
    color: #ff6900;
    width: 42%;
    margin: 0 4% 1.5em;
    float: left;
    text-align: center;
    cursor: pointer;
    outline: 0;
    border-radius: 1em;
    position: relative;
    border: 1px solid #ff6900;
}
#pokemon_type{
    color: #14f5ff;
    width: 42%;
    margin: 0 4% 1.5em;
    float: left;
    text-align: center;
    cursor: pointer;
    outline: 0;
    border-radius: 1em;
    position: relative;
    border: 1px solid #14f5ff;
}
#setting{
    margin: 0 9% 0.5em;
}
#keyword{
    border-radius: 1.5em;
}
.card-body{
    border-radius: 1.5em;
    box-shadow: inset 4px 4px 4px 4px;
}
#flip{
    border: 1px solid turquoise;
    /* width: 70em; */
    /* margin-left: 5em;
    margin-right: 5em; */
    border-radius: 2em;
    text-shadow: 0 0 3px #b3eafe, 0 0 3px #b3eafe;
}
#panel{
    border-left: 0.5px solid aqua;
    border-bottom: 0.5px solid aqua;
    border-right: 0.5px solid aqua;
    /* width: 68em; */
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 2em;
    text-shadow: 0 0 1px #b3eafe, 0 0 1px #b3eafe;
    display: none;
}
#icon{
    font-size: 16px;
}
.footer-icon{
    margin-left: 45%;
}
.footer-nav{
    border-top: 3px solid white;
    padding:30px;
}
.footer-content{
    color: #888;
    line-height: 1.4;
}
a:link{
    text-decoration: none;
}
#link{
    border-radius: 1.5em;
    width: 50%;
    margin-left: 10.2em;
    padding: 5px;
    text-shadow: 0 0 3px #b3eafe, 0 0 3px #b3eafe;
}
li{
    float: left;
    color: white;
    list-style-type: none;
    padding: 5px;
    padding-left: 0px;
    position: relative;
    left: -36px;
}